<!DOCTYPE html>
<html>
    <head>
        <title>Shard_ode's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Shard_ode's blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time><strong>published: {{ post.published_date }}</strong></time>
                <h3><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <br><br><br>
            </article>
        {% endfor %}
    </body>
</html>